:root {
    --primary-color: #121212;
    --secondary-color: #282828;
    --text-color: #f0f0f0;
    --secondary-text-color: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 20px;
    color: var(--text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.appContainer {
    width: 360px;
    height: 100vh;
    border: solid black 1px;
}

.screenContainer {
    height: 90vh;
    background-color: var(--secondary-color);
}

.navigationContainer {
    height: 10vh;
    background-color: var(--primary-color);
}

.navItemContainer,
.workoutScreen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.dateSelectionContainer {
    display: flex;
    flex-direction: column;
}

#dateSelection {
    color: var(--secondary-text-color);
}

.dateSelectionButton {
    color: var(--secondary-text-color);
    margin-top: 1REM;
}

.navItem {
    list-style: none;
    text-align: center;
}


.hidden {
    display: none;
}
